<template>
  <!--公众号数据统计-->
  <el-row>
    <div class="app-container calendar-list-container">

      <div class="filter-container">
        <el-radio-group v-model="radio7" class="filter-item">
          <el-radio-button label="昨天"></el-radio-button>
          <el-radio-button label="前天"></el-radio-button>
          <el-radio-button label="最近一周"></el-radio-button>
          <el-radio-button label="最近一个月"></el-radio-button>
        </el-radio-group>
        <el-date-picker class="filter-item"
                        v-model="value13"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
        </el-date-picker>
        <!-- <el-input @keyup.enter.native="handleFilter"
                  style="width: 200px;"
                  class="filter-item"
                  placeholder="请输入openid或用户昵称"
                  v-model="listQuery.name">
        </el-input> -->
        <el-button class="filter-item"
                   type="primary"
                   v-waves
                   icon="search"
                   @click="handleFilter">确定
        </el-button>
        <el-button v-waves class="filter-item" type="text" icon="el-icon-download" style="float: right;"
                   @click="handleDownload">导出报表
        </el-button>
        <!-- <el-button class="filter-item"
                   v-if="userManager_btn_add"
                   style="margin-left: 10px;"
                   @click="handleCreate"
                   type="primary"
                   icon="edit">添加
        </el-button> -->
      </div>
      <el-table :key='tableKey'
                :data="list"
                v-loading.body="listLoading"
                border
                fit
                highlight-current-row
                style="width: 100%">
        <el-table-column align="center"
                         label="序号"
                         width="65"
                         type="index"
                         :index="indexMethod">
          <!--<template scope="scope">-->
            <!--<span>{{scope.row.id}}</span>-->
          <!--</template>-->
        </el-table-column>
        <el-table-column width="250"
                         align="center"
                         label="公众号名称">
          <template scope="scope">
            <span>{{scope.row.name}}</span>
          </template>
        </el-table-column>
        <el-table-column width="150"
                         align="center"
                         label="总粉丝数">
          <template scope="scope">
            <span>{{scope.row.funsNum}}</span>
          </template>
        </el-table-column>
        <el-table-column width="150"
                         align="center"
                         label="新增关注数">
          <template scope="scope">
            <span>{{scope.row.newFuns}}</span>
          </template>
        </el-table-column>
        <el-table-column width="150"
                         align="center"
                         label="取消关注数">
          <template scope="scope">
            <span>{{scope.row.funsUnAttents}}</span>
          </template>
        </el-table-column>
        <el-table-column width="150"
                         align="center"
                         label="二维码生成数">
          <template scope="scope">
            <span>{{scope.row.tryAttentions}}</span>
          </template>
        </el-table-column>
        <el-table-column width="150"
                         align="center"
                         label="长按二维码关注数">
          <template scope="scope">
            <span>{{scope.row.attentions}}</span>
          </template>
        </el-table-column>

      </el-table>
      <div v-show="!listLoading"
           class="pagination-container">
        <el-pagination @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page.sync="listQuery.page"
                       :page-sizes="[10,20,30, 50]"
                       :page-size="listQuery.limit"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>
      </div>


    </div>
  </el-row>


</template>

<script>
  // import { page } from 'api/admin/user/index';
  import {vipcn} from 'api/count/devices/index';
  // import waves from '@/directive/waves'
  import {parseTime} from '@/utils'
  import {mapGetters} from 'vuex';

  export default {
    name: 'groupDetail',
    components: {
      'group-user': () => import('./groupUser'),
      'group-authority': () => import('./groupAuthority')
    },
    props: {
      groupId: {
        default: '1'
      }
    },
    data() {
      return {
        value13: '', //开始与结束时间
        radio7: '1', // 时间段：最近，昨天，一周
        list: null,
        total: null,
        listLoading: true,
        listQuery: {  // 分页提交参数
          page: 1,
          limit: 20,
          product: this.groupId
        },
        tableKey: 0
      }
    },
    created() {
      this.getList();
    },
    computed: {
      ...mapGetters([
        'elements'
      ])
    },
    methods: {
      // 序号
      indexMethod(index) {
        return index * 2;
      },
      handleDownload() {
        import('@/vendor/Export2Excel').then(excel => {
          const tHeader = ['公众号名称',"总粉丝数","新增关注数","取消关注数","二维码生成数","长按二维码关注数"]
          const filterVal = ['name',"funsNum","newFuns","funsUnAttents","tryAttentions","attentions"]
          const data = this.formatJson(filterVal, this.list)
          // console.log(data)

          excel.export_json_to_excel2({
            header: tHeader,
            data,
            filename: '公众号数据统计'
          })
        })
      },
      formatJson(filterVal, jsonData) {
        return jsonData.map(v => filterVal.map(j => {
          if (j === 'timestamp') {
            return parseTime(v[j])
          } else {
            return v[j]
          }
        }))
      },
      getList() { // 进入查询的接口调用
        this.listLoading = true;
        vipcn(this.listQuery)
          .then(res => {
            if (res.code == 200) {
              let list = res.data.list;
              this.total = res.data.total;
              // this.putIn(list);
              this.list = list;
              this.listLoading = false;
            }

          })
      },

      // //设备状态更改,
      // putIn(arr) {
      //   arr.forEach((item, index) => {
      //     if (Number(item.putStatus == 1)) {
      //       item.status = "已投放"
      //     } else {
      //       item.status = "未投放"
      //     }
      //   })
      // },

      handleFilter() {
        this.getList();
      },
      handleSizeChange(val) {
        this.listQuery.limit = val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.page = val;
        this.getList();
      }
    }
  }
</script>
