<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-input
        @keyup.enter.native="handleFilter"
        style="width: 200px;"
        class="filter-item"
        placeholder="请输入产品名称查询"
        v-model="listQuery.productName"
      ></el-input>
      <el-button class="filter-item" type="primary" v-waves icon="search" @click="handleFilter">搜索</el-button>
      <el-button
        class="filter-item"
        v-if="userManager_btn_add"
        style="margin-left: 10px;"
        @click="handleCreate"
        type="primary"
        icon="edit"
      >添加</el-button>
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="序号" width="65">
        <template scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200" align="center" label="产品名称">
        <template scope="scope">
          <span>{{scope.row.productName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="110" align="center" label="版本号">
        <template scope="scope">
          <span>{{scope.row.versionNo}}</span>
        </template>
      </el-table-column>
      <el-table-column width="110" align="center" label="设备数">
        <template scope="scope">
          <span>{{scope.row.deviceNum}}</span>
        </template>
      </el-table-column>
      <el-table-column width="140" align="center" label="备注">
        <template scope="scope">
          <span>{{scope.row.remark}}</span>
        </template>
      </el-table-column>
      <el-table-column width="180" align="center" label="创建时间">
        <template scope="scope">
          <span>{{scope.row.createTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="150">
        <template scope="scope">
          <el-button
            v-if="userManager_btn_edit"
            size="small"
            type="success"
            @click="handleUpdate(scope.row)"
          >查看</el-button>
          <el-button
            v-if="userManager_btn_del"
            size="small"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>

    <!-- <el-dialog :title="textMap[dialogStatus]"
               :visible.sync="dialogFormVisible">
      <el-form :model="form"
               :rules="rules"
               ref="form"
               label-width="100px">
        <el-form-item label="公众号扫码设备"
                      prop="">
          <el-radio v-model="radio"
                    label="1">是
          </el-radio>
          <el-radio v-model="radio"
                    label="2">否
          </el-radio>
        </el-form-item>
        <el-form-item label="产品名称"
                      prop="name">
          <el-input v-model="form.name"
                    placeholder="请输入产品名称">
          </el-input>
        </el-form-item>
        <el-form-item label="版本号"
                      prop="username">
          <el-input v-if="dialogStatus == 'create'"
                    v-model="form.username"
                    placeholder="请输入版本号">
          </el-input>
          <el-input v-else
                    v-model="form.username"
                    placeholder="请输入账户"
                    readonly>
          </el-input>
        </el-form-item>
        <el-form-item v-if="dialogStatus == 'create'"
                      label="密码"
                      placeholder="请输入密码"
                      prop="password">
          <el-input type="password"
                    v-model="form.password">
          </el-input>
        </el-form-item>
        <el-form-item label="性别">
          <el-select class="filter-item"
                     v-model="form.sex"
                     placeholder="请选择">
            <el-option v-for="item in  sexOptions"
                       :key="item"
                       :label="item"
                       :value="item">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="备注">
          <el-input type="textarea"
                    :autosize="{ minRows: 3, maxRows: 5}"
                    placeholder="请输入内容"
                    v-model="form.description">
          </el-input>
        </el-form-item>
        <el-form-item label="产品信息(设备字段)">
          <el-row :gutter="20">
            <el-col :span="8">
              <div class="grid-content bg-purple">
                <el-input v-model="form.username"
                          placeholder="属性名称"
                          readonly>
                </el-input>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content bg-purple">
                <el-input v-model="form.username"
                          placeholder="设置对应数据库表值"
                          readonly>
                </el-input>
              </div>
            </el-col>
            <el-col :span="4">
              <div class="grid-content bg-purple">
                删除
              </div>
            </el-col>
          </el-row>
          <el-button class="filter-item"
                 v-if="userManager_btn_add"
                 style="margin-left: 10px;"
                 @click="handleCreate"
                 type="primary"
                 icon="edit">添加
          </el-button>
        </el-form-item>
        <el-form-item label="控制信息">
          <el-row :gutter="20">
            <el-col :span="8">
              <div class="grid-content bg-purple">
                <el-input v-model="form.username"
                          placeholder="属性名称"
                          readonly>
                </el-input>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content bg-purple">
                <el-input v-model="form.username"
                          placeholder="设置对应数据库表值"
                          readonly>
                </el-input>
              </div>
            </el-col>
            <el-col :span="4">
              <div class="grid-content bg-purple">
                删除
              </div>
            </el-col>
          </el-row>
          <el-button class="filter-item"
                 v-if="userManager_btn_add"
                 style="margin-left: 10px;"
                 @click="handleCreate"
                 type="primary"
                 icon="edit">添加
          </el-button>
        </el-form-item>        
      </el-form>

      <div slot="footer"
           class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'"
                   type="primary"
                   @click="create('form')">确 定</el-button>
        <el-button v-else
                   type="primary"
                   @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>-->
  </div>
</template>

<script>
import { page, addObj, getObj, delObj, putObj } from "api/product/index";
import { mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      radio: 1,
      form: {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入用户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        username: [
          {
            required: true,
            message: "请输入账户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur"
          },
          {
            min: 5,
            max: 20,
            message: "长度在 5 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        // 分页提交参数
        page: 1,
        limit: 20,
        productName: undefined
      },
      sexOptions: ["男", "女"],
      dialogFormVisible: false,
      dialogStatus: "",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      userManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
    this.userManager_btn_add = this.elements["userManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    getList() {
      // 进入查询的接口调用
      this.listLoading = true;
      page(this.listQuery).then(response => {
        console.log(response);
        this.list = response.data.list;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.$router.push({
        path: "/productManager/productFound"
      });
      // this.resetTemp();
      // this.dialogStatus = "create";
      // this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      this.$router.push({
        path: "/productManager/productDetails",
        query: { id: row.id }
      });
      // getObj(row.id).then(response => {
      //   this.form = response.data;
      //   this.dialogFormVisible = true;
      //   this.dialogStatus = "update";
      // });
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      this.$refs[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        username: undefined,
        name: undefined,
        sex: "男",
        password: undefined,
        description: undefined
      };
    }
  }
};
</script>
