<template>
  <div class="app-container calendar-list-container">
    <el-button @click="back" icon="arrow-left" class="pan-back-btn">返回</el-button>

    <el-form :model="form" :rules="rules" ref="form" label-width="100px">
      <!-- <el-form-item label="公众号扫码设备" prop="radio">
        <el-radio-group v-model="form.isPublicnumDevice">
          <el-radio :label="3">备选项</el-radio>
          <el-radio :label="6">备选项</el-radio>
        </el-radio-group>
      </el-form-item>-->
      <el-form-item label="产品名称" prop="productName">
        <el-input v-model="form.productName" placeholder="请输入产品名称" disabled></el-input>
      </el-form-item>
      <el-form-item label="版本号" prop="versionNo">
        <el-input v-model="form.versionNo" placeholder="请输入版本号" disabled></el-input>
      </el-form-item>
      <el-form-item label="公众号扫码设备">
        <el-select class="filter-item" v-model="form.isPublicnumDevice" placeholder="请选择" disabled>
          <el-option v-for="(item,index) in  sexOptions" :key="item" :label="item" :value="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="备注">
        <el-input
          type="textarea"
          :autosize="{ minRows: 3, maxRows: 5}"
          placeholder="请输入内容"
          v-model="form.remark"
          disabled
        ></el-input>
      </el-form-item>

      <el-form-item label="设备字段">
        <div v-for="(item, index) in form.equipmentDockingList" :key="index" class="dirtList">
          <el-input
            v-model="item.attrName"
            class="filter-item"
            style="width: 150px;"
            placeholder="属性名称"
            disabled
          ></el-input>
          <span class="fensapn">:</span>
          <el-input
            v-model="item.attrValue"
            style="width: 150px;margin-right:20px"
            class="filter-item"
            placeholder="设置对应数据库表值"
            disabled
          ></el-input>
          <el-select
            class="filter-item"
            style="width: 150px;margin-right:20px"
            v-model="item.type"
            placeholder="请选择"
            disabled
          >
            <el-option
              v-for="(items,indexs) in  dirtOptions"
              :key="items"
              :label="items"
              :value="dirtForm[indexs]"
            ></el-option>
          </el-select>
        </div>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer" style="margin-top:140px;text-align:center">
      <el-button v-if="userManager_btn_del" type="danger" @click="handleDelete()">删除</el-button>
    </div>
  </div>
</template>

<script>
import { page, addObj, getObj, delObj, putObj } from "api/product/index";
import { mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      radio: 1,
      form: {
        productName: undefined,
        isPublicnumDevice: 1,
        versionNo: undefined,
        remark: undefined,
        equipmentDockingList: [
          {
            attrName: "",
            attrValue: "",
            type: ""
          }
        ]
      },
      rules: {
        productName: [
          {
            required: true,
            message: "请输入用户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        isPublicnumDevice: [
          {
            required: true,
            message: "请输入账户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur"
          },
          {
            min: 5,
            max: 20,
            message: "长度在 5 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        // 分页提交参数
        page: 1,
        limit: 20,
        name: undefined
      },
      sexOptions: ["是", "否"],
      dirtOptions: ["属性", "控制"],
      dirtForm: ["property ", "control"],
      dialogFormVisible: false,
      dialogStatus: "",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      userManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.handleUpdate();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
    this.userManager_btn_add = this.elements["userManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    handleUpdate() {
      getObj(this.$route.query.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    back() {
      if (this.$route.query.noGoBack) {
        this.$router.push({ path: "/dashboard" });
      } else {
        this.$router.go(-1);
      }
    },
    handleDelete() {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(this.$route.query.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
        });
      });
    },

    cancel(formName) {
      this.dialogFormVisible = false;
      this.$refs[formName].resetFields();
    },
    resetTemp() {
      this.form = {
        productName: undefined,
        isPublicnumDevice: 1,
        versionNo: undefined,
        remark: undefined,
        equipmentDockingList: [
          {
            attrName: "",
            attrValue: "",
            type: ""
          }
        ]
      };
    }
  }
};
</script>
<style lang="scss" scoped>
.dirtList {
  margin-bottom: 20px;
}
.pan-back-btn {
  background: #008489;
  color: #fff;
  margin-bottom: 30px;
}
.dirtList:last-child {
  margin-bottom: 0;
}
.fensapn {
  padding: 0 15px;
}
</style>
