<template>
  <div class="app-container calendar-list-container">
    <el-button @click="back" icon="arrow-left" class="pan-back-btn">返回</el-button>

    <el-form :model="form" :rules="rules" ref="form" label-width="100px">
      <!-- <el-form-item label="公众号扫码设备" prop="radio">
        <el-radio-group v-model="form.isPublicnumDevice">
          <el-radio :label="3">备选项</el-radio>
          <el-radio :label="6">备选项</el-radio>
        </el-radio-group>
      </el-form-item>-->
      <el-form-item label="产品名称" prop="productName">
        <el-input v-model="form.productName" placeholder="请输入产品名称"></el-input>
      </el-form-item>
      <el-form-item label="版本号" prop="versionNo">
        <el-input v-model="form.versionNo" placeholder="请输入版本号"></el-input>
      </el-form-item>
      <el-form-item label="公众号扫码设备">
        <el-select class="filter-item" v-model="form.isPublicnumDevice" placeholder="请选择">
          <el-option v-for="(item,index) in  sexOptions" :key="item" :label="item" :value="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="备注">
        <el-input
          type="textarea"
          :autosize="{ minRows: 3, maxRows: 5}"
          placeholder="请输入内容"
          v-model="form.remark"
        ></el-input>
      </el-form-item>

      <el-form-item label="设备字段">
        <div v-for="(item, index) in form.equipmentDockingList" :key="index" class="dirtList">
          <el-input
            v-model="item.attrName"
            class="filter-item"
            style="width: 150px;"
            placeholder="属性名称"
          ></el-input>
          <span class="fensapn">:</span>
          <el-input
            v-model="item.attrValue"
            style="width: 150px;margin-right:20px"
            class="filter-item"
            placeholder="设置对应数据库表值"
          ></el-input>
          <el-select
            class="filter-item"
            style="width: 150px;margin-right:20px"
            v-model="item.type"
            placeholder="请选择"
          >
            <el-option
              v-for="(items,indexs) in  dirtOptions"
              :key="items"
              :label="items"
              :value="dirtForm[indexs]"
            ></el-option>
          </el-select>
          <el-button type="text" class="filter-item" @click="dirtDel(index)">删除</el-button>
        </div>
      </el-form-item>
      <el-form-item label>
        <el-button
          class="filter-item"
          v-if="userManager_btn_add"
          @click="dirtAdd"
          type="primary"
          icon="edit"
        >添加</el-button>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer" style="margin-top:140px;text-align:center">
      <el-button @click="cancel('form')">取 消</el-button>
      <el-button type="primary" @click="create('form')">确 定</el-button>

      <!-- <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
      <el-button v-else type="primary" @click="update('form')">确 定</el-button>-->
    </div>
  </div>
</template>

<script>
import { page, addObj, getObj, delObj, putObj } from "api/product/index";
import { mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      radio: 1,
      form: {
        productName: undefined,
        isPublicnumDevice: 1,
        versionNo: undefined,
        remark: undefined,
        equipmentDockingList: [
          {
            attrName: "",
            attrValue: "",
            type: ""
          }
        ]
      },
      rules: {
        productName: [
          {
            required: true,
            message: "请输入用户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        isPublicnumDevice: [
          {
            required: true,
            message: "请输入账户",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur"
          },
          {
            min: 5,
            max: 20,
            message: "长度在 5 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        // 分页提交参数
        page: 1,
        limit: 20,
        name: undefined
      },
      sexOptions: ["是", "否"],
      dirtOptions: ["属性", "控制"],
      dirtForm: ["property ", "control"],
      dialogFormVisible: false,
      dialogStatus: "",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      userManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
    this.userManager_btn_add = this.elements["userManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    back() {
      if (this.$route.query.noGoBack) {
        this.$router.push({ path: "/dashboard" });
      } else {
        this.$router.go(-1);
      }
    },
    dirtDel(num) {
      this.form.equipmentDockingList.splice(num, 1);
    },
    dirtAdd() {
      this.form.equipmentDockingList.push({
        attrName: "",
        attrValue: "",
        type: ""
      });
    },
    getList() {
      // 进入查询的接口调用
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.rows;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      this.$refs[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        productName: undefined,
        isPublicnumDevice: 1,
        versionNo: undefined,
        remark: undefined,
        equipmentDockingList: [
          {
            attrName: "",
            attrValue: "",
            type: ""
          }
        ]
      };
    }
  }
};
</script>
<style lang="scss" scoped>
.dirtList {
  margin-bottom: 20px;
}
.pan-back-btn {
  background: #008489;
  color: #fff;
  margin-bottom: 30px;
}
.dirtList:last-child {
  margin-bottom: 0;
}
.fensapn {
  padding: 0 15px;
}
</style>
