<template>
  <!--设备列表-->
  <div class="tab-container">
    <el-tabs v-model="activeName" @tab-click="navClick">
      <el-tab-pane label="共享体重秤" name="first">
        <div class="facilityNum">
          <!--设备数-->
          <p>
            设备总数：
            <span>{{totalCount}}台</span>
          </p>
          <p>
            当前在线：
            <span>{{onlineCount}}台</span>
          </p>
          <p>
            离线：
            <span>{{offlineCount}}台</span>
          </p>
        </div>
        <!--功能按钮-->
        <el-row class="facilityButton">
          <el-button class="item" @click="addDeploy">新增设备</el-button>
          <el-button class="item" @click="stasusClick">更改投放状态</el-button>
          <el-button class="item">绑定订阅号</el-button>
        </el-row>
        <!--订阅号及投放状态下拉框-->
        <div class="facilityDown calendar-list-container">
          <div class="filter-container">
            <el-button type="text" class="filter-item">订阅号:</el-button>
            <el-select
              v-model="value"
              placeholder="请选择"
              class="filter-item"
              style="margin-left: 10px;"
            >
              <el-option v-for="item in pubInfo" :key="item.id" :label="item.name" :value="item.id"></el-option>
            </el-select>
            <el-button type="text" class="filter-item" style="margin-left: 30px;">投放状态:</el-button>
            <el-select
              v-model="listQuery.putStatus"
              placeholder="请选择"
              class="filter-item"
              style="margin-left: 10px;"
            >
              <el-option
                v-for="(item,index) in  options"
                :key="item.value"
                :label="item.label"
                :value="index"
              ></el-option>
            </el-select>
          </div>
        </div>
        <div class="calendar-list-container">
          <div class="filter-container">
            <el-input
              style="max-width: 500px;"
              placeholder="请输入内容"
              v-model="tabSel"
              class="input-with-select"
              @keyup.enter.native="handleFilter"
            >
              <el-select v-model="tabSelect" slot="prepend" placeholder="请选择">
                <el-option label="设备号" value="1"></el-option>
                <el-option label="设备编号" value="2"></el-option>
              </el-select>
              <el-button slot="append" icon="el-icon-search" @click="handleFilter">查询</el-button>
            </el-input>
          </div>
          <el-table
            :key="tableKey"
            :data="list"
            v-loading.body="listLoading"
            border
            fit
            highlight-current-row
            style="width: 100%"
          >
            <el-table-column align="center" label="序号" width="65">
              <template scope="scope">
                <span>{{scope.row.id}}</span>
              </template>
            </el-table-column>
            <el-table-column width="200" align="center" label="设备号">
              <template scope="scope">
                <span>{{scope.row.deviceNo}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="设备编号">
              <template scope="scope">
                <span>{{scope.row.deviceNum}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="	设备名称">
              <template scope="scope">
                <span>{{scope.row.deviceName}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="订阅号">
              <template scope="scope">
                <span>{{scope.row.subName}}</span>
              </template>
            </el-table-column>
            <!-- <el-table-item label="设备地址" class="inputWidth1" placeholder="请输入详细地址">
              <el-cascader
                :options="siteArr"
                v-model="scope.row.region"
                @change="siteChange"
                class="cascaderWidth"
              ></el-cascader>
            </el-table-item>-->
            <el-table-column width="300" align="center" label="设备所在地区">
              <template scope="scope">
                <span>{{scope.row.detailAddr}}</span>
              </template>
            </el-table-column>
            <el-table-column width="180" align="center" label="当前状态">
              <template scope="scope">
                <span>{{scope.row.onlineStatusStr}}</span>
              </template>
            </el-table-column>
            <el-table-column width="200" align="center" label="最后在线时间">
              <template scope="scope">
                <span>{{scope.row.recentTime}}</span>
              </template>
            </el-table-column>
            <el-table-column width="200" align="center" label="创建时间">
              <template scope="scope">
                <span>{{scope.row.createTime}}</span>
              </template>
            </el-table-column>
            <el-table-column width="200" align="center" label="创建人">
              <template scope="scope">
                <span>{{scope.row.createBy}}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" fixed="right" label="操作" width="150">
              <template scope="scope">
                <el-button
                  v-if="userManager_btn_edit"
                  size="small"
                  type="success"
                  @click="handleUpdate(scope.row)"
                >编辑</el-button>
                <el-button
                  v-if="userManager_btn_del"
                  size="small"
                  type="danger"
                  @click="handleDelete(scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>

          <!--页码-->
          <div v-show="!listLoading" class="pagination-container">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page.sync="listQuery.page"
              :page-sizes="[10,20,30, 50]"
              :page-size="listQuery.limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>

          <el-dialog center title="编辑设备" :visible.sync="dialogFormVisible" class="dialog">
            <!--编辑弹框-->
            <el-form :model="form" :rules="rules" ref="form">
              <el-form-item label=" 设 备 号 " prop="deviceNo">
                <el-input v-model="form.deviceNo" placeholder="请输入设备号" class="inputWidth"></el-input>
              </el-form-item>
              <el-form-item label="设备编码" prop="deviceNum">
                <el-input v-model="form.deviceNum" placeholder="请输入设备编码" class="inputWidth"></el-input>
              </el-form-item>
              <el-form-item label="设备名称" prop="deviceName" class="inputWidth1">
                <el-input
                  v-model="form.deviceName"
                  placeholder="请输入设备名称"
                  class="inputWidth inputWidth1"
                ></el-input>
              </el-form-item>
              <el-form-item label="设备地址" class="inputWidth1" placeholder="请输入详细地址">
                <el-cascader
                  :options="siteArr"
                  v-model="form.region"
                  @change="siteChange"
                  class="cascaderWidth"
                ></el-cascader>
              </el-form-item>
              <el-form-item label>
                <el-input type="textarea" v-model="form.addr" placeholder="请输入详细地址" resize="none"></el-input>
              </el-form-item>
            </el-form>
            <!--button按钮-->
            <div slot="footer" class="dialog-footer dialogCenter">
              <el-button @click="cancel()">取 消</el-button>
              <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
              <el-button v-else type="primary" @click="update('form')">确 定</el-button>
            </div>
          </el-dialog>
        </div>
      </el-tab-pane>
      <!-- <el-tab-pane label="手环" name="second">手环</el-tab-pane>
      <el-tab-pane label="智慧药箱" name="third">智慧药箱</el-tab-pane>-->
    </el-tabs>

    <!--投放状态弹框-->
    <el-dialog title="更改投放状态" :visible.sync="statusVisible" width="30%" class="dialog">投放状态:
      <el-select v-model="value" placeholder="请选择">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="statusVisible = false">取 消</el-button>
        <el-button type="primary" @click="statusVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  pubInfo,
  page,
  addObj,
  getObj,
  delObj,
  putObj
} from "api/facility/facilityList";
import { mapGetters } from "vuex";
import city from "api/citys";

export default {
  name: "list",
  data() {
    return {
      totalCount: 0,
      onlineCount: 0,
      offlineCount: 0,
      tabSel: "",
      tabSelect: "",
      activeName: "first",
      isButton: false,
      statusVisible: false,
      pubInfo: [],
      options: [
        {
          value: "选项1",
          label: "已投放"
        },
        {
          value: "选项2",
          label: "未投放"
        }
      ],
      value: "",
      value1: "",
      form: {
        deviceNo: undefined, //设备编码
        deviceNum: undefined, //设备名称
        deviceName: undefined, //设备名称
        region: [],
        addr: undefined
      },
      rules: {
        deviceNo: [
          {
            required: true,
            message: "请输入设备号",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        deviceNum: [
          {
            required: true,
            message: "请输入设备编码",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        deviceName: [
          {
            required: true,
            message: "请输入设备名称",
            trigger: "blur"
          },
          {
            min: 5,
            max: 20,
            message: "长度在 5 到 20 个字符",
            trigger: "blur"
          }
        ],
        addr: [
          {
            required: true,
            message: "请输入详细地址",
            trigger: "blur"
          },
          {
            min: 5,
            max: 20,
            message: "长度在 5 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      listArr: [
        // {}
      ],
      total: null,
      listLoading: true,
      //设置页码
      listQuery: {
        page: 1,
        limit: 10,
        putStatus: "",
        deviceNo: undefined,
        deviceNum: undefined
      },
      dialogFormVisible: false,
      dialogStatus: "create",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      tableKey: 0,
      // siteArr: [
      //   {
      //     value: "zhinan",
      //     label: "广东省",
      //     children: [
      //       {
      //         value: "shejiyuanze",
      //         label: "广州市",
      //         children: [
      //           {
      //             value: "yizhi",
      //             label: "天河"
      //           },
      //           {
      //             value: "fankui",
      //             label: "越秀"
      //           }
      //         ]
      //       }
      //     ]
      //   }
      // ],
      siteArr: city
    };
  },
  created() {
    pubInfo().then(response => {
      console.log(response);
      this.pubInfo = response.data;
    });
    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
  },
  computed: {
    ...mapGetters(["elements"])
  },

  methods: {
    //投放状态事件
    stasusClick() {
      this.statusVisible = true;
    },

    //导航切换
    navClick(tab, event) {
      console.log(tab, event);
    },

    //新增设备
    addDeploy() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    //绑定数据 及页码数
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.totalCount = response.data.totalCount;
        this.onlineCount = response.data.onlineCount;
        this.offlineCount = response.data.offlineCount;
        this.list = response.data.list;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      let listQuery = this.listQuery;
      if (Number(this.tabSelect) === 1) {
        listQuery.deviceNo = this.tabSel;
        listQuery.deviceNum = "";
        this.listQuery = listQuery;
        this.getList();
      } else if (Number(this.tabSelect) === 2) {
        listQuery.deviceNo = "";
        listQuery.deviceNum = this.tabSel;
        this.listQuery = listQuery;
        this.getList();
      } else {
        this.getList();
      }
    },
    //分页每页显示多少条
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    //当前页
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    // handleCreate() {
    //   this.resetTemp();
    //   this.dialogFormVisible = true;
    // },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        let form = {};
        form.deviceNo = response.data.deviceNo;
        form.deviceNum = response.data.deviceNum;
        form.deviceName = response.data.deviceName;
        form.region = response.data.region;
        form.addr = response.data.addr;
        this.form = form;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    //删除按钮弹框
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    //取消事件
    cancel(formName) {
      this.dialogFormVisible = false;
      // this.$refs[formName].resetFields();
    },
    //新增确定按钮
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.resetTemp();
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    //编辑确定按钮
    update(id, formName) {
      console.log("ddd");
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          putObj(id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.resetTemp();
            this.getList();
            this.$notify({
              title: "成功",
              message: "编辑成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    //选址事件
    siteChange(value) {
      console.log(value);
    },
    resetTemp() {
      this.form = {
        deviceNo: undefined, //设备编码
        deviceNum: undefined, //设备名称
        deviceName: undefined, //设备名称
        region: [],
        dialogStatus: "create",
        addr: undefined
      };
    }
  }
};
</script>

<style  lang="scss">
.el-select .el-input {
  width: 130px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.tab-container {
  margin: 30px;
  color: #333;
  .facilityNum {
    p {
      margin-right: 60px;
      display: inline-block;
      /*float: left;*/
    }
  }
  .facilityButton {
    /*.item {*/
    margin-top: 10px;

    /*margin-right: 80px;*/
    /*}*/
  }
  .facilityDown {
    margin: 30px 0;
    .itemDown {
      margin-right: 40px;
    }
  }
}

.redactTit{
  text-align: center;
}

.dialog {
  width: 800px;
  margin: 0 auto;
  /*text-align: center;*/
  .inputWidth {
    width: 210px;
    /*text-align: left;*/
  }
  .inputWidth1 {
    margin-left: 5px;
  }
  .cascaderWidth {
    /*width: 60%;*/
    /*margin: 0 35% 0 0;*/
  }
  .dialogCenter {
    text-align: center;
  }
}
</style>
