<template>
  <div :class="className" :style="{height:height,width:width}"></div>
</template>

<script>
  import echarts from 'echarts';
  require('echarts/theme/macarons'); // echarts 主题
  import { debounce } from 'utils';

  export default {
    props: {
      className: {
        type: String,
        default: 'chart'
      },
      width: {
        type: String,
        default: '100%'
      },
      height: {
        type: String,
        default: '350px'
      },
      autoResize: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        chart: null
      };
    },
    mounted() {
      this.initChart();
      if (this.autoResize) {
        this.__resizeHanlder = debounce(() => {
          if (this.chart) {
            this.chart.resize()
          }
        }, 100)
        window.addEventListener('resize', this.__resizeHanlder)
      }

      // 监听侧边栏的变化
      const sidebarElm = document.getElementsByClassName('sidebar-container')[0]
      sidebarElm.addEventListener('transitionend', this.__resizeHanlder)
    },
    beforeDestroy() {
      if (!this.chart) {
        return
      }
      if (this.autoResize) {
        window.removeEventListener('resize', this.__resizeHanlder)
      }

      const sidebarElm = document.getElementsByClassName('sidebar-container')[0]
      sidebarElm.removeEventListener('transitionend', this.__resizeHanlder)

      this.chart.dispose()
      this.chart = null
    },
    methods: {
      initChart() {
        this.chart = echarts.init(this.$el, 'macarons');

        this.chart.setOption({
          title: {
            text: '设备在线状态统计'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data:['体重称','智能药箱','手环','跑步鞋'],
            bottom:0,
            left:'10%'
          },
          grid: {
            left: '3%',
            right: '12%',
            bottom: '20%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['01/01','01/03','01/05','01/07','01/09','01/11','01/13','01/15','01/17','01/19']
          },
          yAxis: {
            type: 'value',
            // data:['1000','2000','5000','10000','20000','50000','100000','200000']
          },
          series: [
            {
              name:'体重称',
              type:'line',
              stack: '总量',
              data:[10800, 2200, 8000, 13400, 22000, 30000, 1801,5000,12000,3000]
            },
            {
              name:'智能药箱',
              type:'line',
              stack: '总量',
              data:[22000, 18200, 19100, 23400, 29000, 3300, 3100, 13400, 22000, 30000]
            },
            {
              name:'手环',
              type:'line',
              stack: '总量',
              data:[15000, 23200, 2010, 15400, 1900, 3300, 4100,19100, 23400, 29000]
            },
            {
              name:'跑步鞋',
              type:'line',
              stack: '总量',
              data:[3200, 33200, 30100, 33400, 19000, 3300, 3200,2010, 15400, 1900]
            },

          ]
        })
      }
    }
  }
</script>
