<template>
  <div :class="className" :style="{height:height,width:width}"></div>
</template>

<script>
  import echarts from 'echarts';
  // require('echarts/theme/macarons'); // echarts 主题
  require('echarts/map/js/china'); //引入中国地图
  import {debounce} from 'utils';

  export default {
    props: {
      className: {
        type: String,
        default: 'chart'
      },
      width: {
        type: String,
        default: '100%'
      },
      height: {
        type: String,
        default: '470px'
      },
      autoResize: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        chart: null
      };
    },
    mounted() {
      this.initChart();
      // if (this.autoResize) {
      //   this.__resizeHanlder = debounce(() => {
      //     if (this.chart) {
      //       this.chart.resize()
      //     }
      //   }, 100)
      //   window.addEventListener('resize', this.__resizeHanlder)
      // }
      //
      // // 监听侧边栏的变化
      // const sidebarElm = document.getElementsByClassName('sidebar-container')[0]
      // sidebarElm.addEventListener('transitionend', this.__resizeHanlder)
    },
    beforeDestroy() {
      // if (!this.chart) {
      //   return
      // }
      // if (this.autoResize) {
      //   window.removeEventListener('resize', this.__resizeHanlder)
      // }
      //
      // const sidebarElm = document.getElementsByClassName('sidebar-container')[0]
      // sidebarElm.removeEventListener('transitionend', this.__resizeHanlder)
      //
      // this.chart.dispose()
      // this.chart = null
    },
    methods: {
      initChart() {
        this.chart = echarts.init(this.$el, 'china');
        // 随机0-1000的数
        // function randomData() {
        //   return Math.round(Math.random() * 1000);
        // };
        //自定义城市坐标菜单
        var geoCoordMap = {
          "广东": [113.38873, 23.410275],
          "上海": [121.487825, 31.249196],
          "北京": [116.395619, 39.929996],
          "湖南": [111.715851, 27.698055],
          "广西": [108.924277, 23.552238],
          "武汉": [112.410583, 31.209324],
        };
        //拼接对象数组
        var convertData = function (data) {
          var res = [];
          for (var i = 0; i < data.length; i++) {
            var geoCoord = geoCoordMap[data[i].name];
            if (geoCoord) {
              res.push({
                name: data[i].name,
                value: geoCoord.concat(data[i].value)
              });
            }
          }
          return res;
        };

        this.chart.setOption({
          // cityId: {
          //   '广东': 0,
          //   '上海': 1,
          //   '北京': 2,
          //   '湖南': 3,
          //   '广西': 4,
          //   '武汉': 5,
          // },
          backgroundColor: '#fff', //画布背景
          //标题组件
          title: {
            text: '设备分布中心',
            // subtext: 'data from PM25.in',
            sublink: 'http://www.pm25.in',
            x: 'center',
            textStyle: {
              color: '#fff'
            }
          },
          //提示框组件
          tooltip: {
            trigger: 'item',
            formatter: function (params) {
              return params.seriesName + ' : ' + params.value[2];
            }
          },
          legend: {
            textStyle: {
              color: '#000'
            },
            orient: 'horizontal',
            top:"6%",
            // left:"10%",
            data: ['体重称', '智能药箱', '手环', '跑步鞋']
          },

          //地图区域样式
          geo: {
            map: 'china',
            label: {
              normal: {
                show: false,

              },
              emphasis: {
                show: false,
                color: "#fff",
                formatter: function(params, t) {
                  var cityName = params.name;
                  return  cityName
                },
              }
            },
            itemStyle: {
              //未激活样式
              normal: {
                areaColor: '#323c48',
                borderColor: '#111'
              },
              //激活样式
              emphasis: {
                areaColor: '#2a333d'
              }
            }
          },
          //数据
          series: [
            {
              name: '体重称',
              type: 'scatter',
              coordinateSystem: 'geo',
              data: convertData([
                {
                  name: '广东',
                  value: 43
                },
                {
                  name: '上海',
                  value: 54
                },
                {
                  name: '北京',
                  value: 32
                },
                {
                  name: '湖南',
                  value: 23
                },
                {
                  name: '广西',
                  value: 24
                },
                {
                  name: '武汉',
                  value: 342
                },
              ]),
              symbol: 'circle',
              symbolSize: function (value, params) {
                var r = value[2] / 50;
                return r > 5 ? r > 20 ? 20 : r : 5;
              },
              symbolOffset: [0, 0],
              label: {
                normal: {
                  show: false
                },
                emphasis: {
                  show: false
                }
              },
              itemStyle: {
                normal: {
                  color: "#f34a4a"
                },
                emphasis: {
                  borderColor: '#fff',
                  borderWidth: 1
                }
              }
            },
            {
              name: '智能药箱',
              type: 'scatter',
              coordinateSystem: 'geo',
              data: convertData([
                {
                  name: '广东',
                  value: 43
                },
                {
                  name: '上海',
                  value: 54
                },
                {
                  name: '北京',
                  value: 32
                },
                {
                  name: '湖南',
                  value: 23
                },
                {
                  name: '广西',
                  value: 24
                },
                {
                  name: '武汉',
                  value: 342
                },
              ]),
              symbol: 'circle',
              symbolSize: function (value, params) {
                var r = value[2] /50;
                return r > 5 ? r > 20 ? 20 : r : 5;
              },
              symbolOffset: ['-5px', '5px'],
              label: {
                normal: {
                  show: false
                },
                emphasis: {
                  show: false
                }
              },
              itemStyle: {
                normal: {
                  color: "#ffd730"
                },
                emphasis: {
                  borderColor: '#fff',
                  borderWidth: 1
                }
              }
            },
            {
              name: '手环',
              type: 'scatter',
              coordinateSystem: 'geo',
              data: convertData([
                {
                  name: '广东',
                  value: 43
                },
                {
                  name: '上海',
                  value: 54
                },
                {
                  name: '北京',
                  value: 32
                },
                {
                  name: '湖南',
                  value: 23
                },
                {
                  name: '广西',
                  value: 24
                },
                {
                  name: '武汉',
                  value: 342
                },
              ]),
              symbol: 'circle',
              symbolSize: function (value, params) {
                console.log(value);
                var r = value[2] / 50;
                return r > 5 ? r > 20 ? 20 : r : 5;
              },
              symbolOffset: ['5px', '-5px'],
              label: {
                normal: {
                  show: false
                },
                emphasis: {
                  show: false
                }
              },
              itemStyle: {
                normal: {
                  color: "#8cffd1"
                },
                emphasis: {
                  borderColor: '#fff',
                  borderWidth: 1
                }
              }
            },
            {
              name: '跑步鞋',
              type: 'scatter',
              coordinateSystem: 'geo',
              data: convertData([
                {
                  name: '广东',
                  value: 43
                },
                {
                  name: '上海',
                  value: 54
                },
                {
                  name: '北京',
                  value: 32
                },
                {
                  name: '湖南',
                  value: 23
                },
                {
                  name: '广西',
                  value: 24
                },
                {
                  name: '武汉',
                  value: 342
                },
              ]),
              symbol: 'circle',
              symbolSize: function (value, params) {
                var r = value[2] / 50;
                return r > 5 ? r > 20 ? 20 : r : 5;
              },
              symbolOffset: ['-5px', '-5px'],
              label: {
                normal: {
                  show: false
                },
                emphasis: {
                  show: false
                }
              },
              itemStyle: {
                normal: {
                  color: "#2a8abc"
                },
                emphasis: {
                  borderColor: '#fff',
                  borderWidth: 1
                }
              }
            },
          ]
        })
      }
    }
  }
</script>
