<template>
  <div class="app-container calendar-list-container">

    <div class="filter-container">
      <el-select v-model="tabSelect" slot="prepend" placeholder="请选择
" class="filter-item" style="width: 100px;">
        <el-option label="openId" value="1"></el-option>
        <el-option label="昵称" value="2"></el-option>
      </el-select>
      <el-input @keyup.enter.native="handleFilter"
                style="width: 200px;"
                class="filter-item"
                placeholder="请输入内容"
                v-model="value">

      </el-input>
      <el-button class="filter-item"
                 type="primary"
                 v-waves
                 icon="search"
                 @click="handleFilter">搜索
      </el-button>
      <!-- <el-button class="filter-item"
                 v-if="userManager_btn_add"
                 style="margin-left: 10px;"
                 @click="handleCreate"
                 type="primary"
                 icon="edit">添加
      </el-button> -->
    </div>
    <el-table :key='tableKey'
              :data="list"
              v-loading.body="listLoading"
              border
              fit
              highlight-current-row
              style="width: 100%">
      <el-table-column align="center"
                       label="序号"
                       width="65"
                       type="index"
                       :index="indexMethod">
        <!--<template scope="scope">-->
        <!--&lt;!&ndash;<span>{{scope.row.id}}</span>&ndash;&gt;-->
        <!--</template>-->
      </el-table-column>
      <el-table-column width="180"
                       align="center"
                       label="openId">
        <template scope="scope">
          <span>{{scope.row.openId}}</span>
        </template>
      </el-table-column>
      <el-table-column width="180"
                       align="center"
                       label="订阅号来源">
        <template scope="scope">
          <span>{{scope.row.source}}</span>
        </template>
      </el-table-column>
      <el-table-column width="150"
                       align="center"
                       label="昵称">
        <template scope="scope">
          <span>{{scope.row.nickName}}</span>
        </template>
      </el-table-column>
      <el-table-column width="65"
                       align="center"
                       label="性别">
        <template scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>
      <el-table-column width="150"
                       align="center"
                       label="语言">
        <template scope="scope">
          <span>{{scope.row.language}}</span>
        </template>
      </el-table-column>
      <el-table-column width="150"
                       align="center"
                       label="国家">
        <template scope="scope">
          <span>{{scope.row.country}}</span>
        </template>
      </el-table-column>
      <el-table-column width="150"
                       align="center"
                       label="省份">
        <template scope="scope">
          <span>{{scope.row.province}}</span>
        </template>
      </el-table-column>
      <el-table-column width="150"
                       align="center"
                       label="城市">
        <template scope="scope">
          <span>{{scope.row.city}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200"
                       align="center"
                       label="关注时间">
        <template scope="scope">
          <span>{{scope.row.followTime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="操作"
                       width="150">
        <template scope="scope">
          <!--<el-button v-if="userManager_btn_edit"-->
          <!--size="small"-->
          <!--type="success"-->
          <!--@click="handleUpdate(scope.row)">编辑-->
          <!--</el-button>-->
          <el-button v-if="userManager_btn_del"
                     size="small"
                     type="danger"
                     @click="handleDelete(scope.row)">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading"
         class="pagination-container">
      <el-pagination @size-change="handleSizeChange"
                     @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.page"
                     :page-sizes="[10,20,30, 50]"
                     :page-size="listQuery.limit"
                     layout="total, sizes, prev, pager, next, jumper"
                     :total="total">
      </el-pagination>
    </div>

  </div>
</template>

<script>
  import {listUser,delObj} from 'api/weixin/weixinUser';
  import {mapGetters} from 'vuex';

  export default {
    name: 'user',
    data() {
      return {
        tabSelect: "",
        value: "",
        list: null,
        total: null,
        listLoading: true,
        listQuery: {  // 分页提交参数
          page: 1,
          limit: 20,
          nickName: undefined,
          openId: undefined,
        },
        userManager_btn_del: false,
        tableKey: 0
      }
    },
    created() {
      this.getList();
      // this.userManager_btn_edit = this.elements['userManager:btn_edit'];
      this.userManager_btn_del = this.elements['userManager:btn_del'];
      // this.userManager_btn_add = this.elements['userManager:btn_add'];
    },
    computed: {
      ...mapGetters([
        'elements'
      ])
    },
    methods: {
      // 序号
      indexMethod(index) {
        return index * 2;
      },
      getList() { // 进入查询的接口调用
        this.listLoading = true;
        // console.log(this.listQuery.nickName);
        // console.log(this.listQuery);
        listUser(this.listQuery)
          .then(res => {
            if (res.code == 200) {
              this.list = res.data.list;
              this.total = res.data.total;
              this.listLoading = false;
              console.log(res.data);
            }
            // console.log(res);

          })
      },
      //搜索功能
      handleFilter() {
        var val = this.tabSelect;
        // console.log(this.tabSelect);
        if(Number(val)==1){
          this.listQuery.openId = this.value;
          this.getList();
        }else if(Number(val)==2){
          // console.log(33333);
          this.listQuery.nickName = this.value;
        }else {
          this.getList();
        }

      },
      handleSizeChange(val) {
        this.listQuery.limit = val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.page = val;
        this.getList();
      },
      handleDelete(row) {
        console.log(row);
        this.$confirm('确定要删除该用户信息吗？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(() => {
            delObj(row.id)
              .then(() => {
                this.$notify({
                  title: '成功',
                  message: '删除成功',
                  type: 'success',
                  duration: 2000
                });
                const index = this.list.indexOf(row);
                this.list.splice(index, 1);
              });
          });
      },

      cancel(formName) {
        // this.dialogFormVisible = false;
        this.$refs[formName].resetFields();
      },
      // update(formName) {
      //   const set = this.$refs;
      //   set[formName].validate(valid => {
      //     if (valid) {
      //       this.dialogFormVisible = false;
      //       this.form.password = undefined;
      //       putObj(this.form.id, this.form).then(() => {
      //         this.dialogFormVisible = false;
      //         this.getList();
      //         this.$notify({
      //           title: '成功',
      //           message: '创建成功',
      //           type: 'success',
      //           duration: 2000
      //         });
      //       });
      //     } else {
      //       return false;
      //     }
      //   });
      // },
      // resetTemp() {
      //   this.form = {
      //     username: undefined,
      //     name: undefined,
      //     sex: '男',
      //     password: undefined,
      //     description: undefined
      //   };
      // }
    }
  }
</script>
