<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-button>新增公众号授权</el-button>
      <!--<p class="filter-item">新增公众号授权</p>-->
      <!--<el-button class="filter-item"-->
      <!--v-if="userManager_btn_add"           -->
      <!--@click="handleCreate"-->
      <!--type="primary"-->
      <!--icon="edit">新增公众号授权-->
      <!--</el-button>-->
    </div>

    <div class="filter-container">
      <el-input @keyup.enter.native="handleFilter"
                style="width: 200px;"
                class="filter-item"
                placeholder="请输入公众号名称"
                v-model="listQuery.name">
      </el-input>
      <el-button class="filter-item"
                 type="primary"
                 v-waves
                 icon="search"
                 @click="handleFilter">搜索
      </el-button>
      <!--<el-button class="filter-item"-->
      <!--v-if="userManager_btn_add"-->
      <!--style="margin-left: 10px;"-->
      <!--@click="handleCreate"-->
      <!--type="primary"-->
      <!--icon="edit">添加-->
      <!--</el-button>-->
    </div>
    <el-table :key='tableKey'
              :data="list"
              v-loading.body="listLoading"
              border
              fit
              highlight-current-row
              style="width: 100%">
      <el-table-column align="center"
                       label="序号"
                       width="65"
                       type="index"
                       :index="indexMethod">
        <!--<template scope="scope">-->
        <!--<span>{{scope.row.id}}</span>-->
        <!--</template>-->
      </el-table-column>
      <el-table-column width="350"
                       align="center"
                       label="公众号名称">
        <template scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200"
                       align="center"
                       label="二维码图片">
        <template scope="scope">
          <el-button type="text" @click="dialogVisible=true">查看</el-button>
          <!--<span>{{scope.row.username}}</span>-->
        </template>
      </el-table-column>
      <el-table-column width="350"
                       align="center"
                       label="授权时间">
        <template scope="scope">
          <span>{{scope.row.authTime}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center"
                       label="操作"
                       width="150">
        <template scope="scope">

          <el-button v-if="userManager_btn_del"
                     size="small"
                     type="danger"
                     @click="handleDelete(scope.row)">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading"
         class="pagination-container">
      <el-pagination @size-change="handleSizeChange"
                     @current-change="handleCurrentChange"
                     :current-page.sync="listQuery.page"
                     :page-sizes="[10,20,30, 50]"
                     :page-size="listQuery.limit"
                     layout="total, sizes, prev, pager, next, jumper"
                     :total="total">
      </el-pagination>
    </div>

    <!--弹框-->
    <el-dialog
      title="二维码图片"
      :visible.sync="dialogVisible"
      width="30%"
      center="true" class="dialogW">
      <img src="../../../assets/img/scales.png" alt="二维码图片" class="dialogImg">
      <!--<span slot="footer" class="dialog-footer">-->
    <!--<el-button @click="dialogVisible = false">取 消</el-button>-->
    <!--<el-button type="primary" @click="dialogVisible = false">确 定</el-button>-->
  <!--</span>-->
    </el-dialog>

  </div>
</template>

<script>
  import {pubInfo, delPubInfo} from 'api/weixin/weixinUser';
  import {mapGetters} from 'vuex';

  export default {
    name: 'user',
    data() {
      return {
        list: null,
        total: null,
        listLoading: true,
        listQuery: {  // 分页提交参数
          page: 1,
          limit: 20,
          name: undefined
        },
        userManager_btn_del: false,
        tableKey: 0,
        dialogVisible: false, //控制二维码图片查看
      }
    },
    created() {
      this.getList();
      this.userManager_btn_del = this.elements['userManager:btn_del'];

    },
    computed: {
      ...mapGetters([
        'elements'
      ])
    },
    methods: {
      // 序号
      indexMethod(index) {
        return index * 2;
      },

      getList() { // 进入查询的接口调用
        this.listLoading = true;
        pubInfo(this.listQuery)
          .then(res => {
            console.log(res);
            if (res.code == 200) {
              this.list = res.data.list
              this.total = res.data.total;
              this.listLoading = false;
            }


          })
      },
      handleFilter() {
        this.getList();
      },
      handleSizeChange(val) {
        this.listQuery.limit = val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.page = val;
        this.getList();
      },
      // handleCreate() {
      //   this.resetTemp();
      //   this.dialogStatus = 'create';
      //   this.dialogFormVisible = true;
      // },
      // handleUpdate(row) {
      //   getObj(row.id)
      //     .then(response => {
      //       this.form = response.data;
      //       this.dialogFormVisible = true;
      //       this.dialogStatus = 'update';
      //     });
      // },
      //
      handleDelete(row) {
        this.$confirm('确定要删除该公众号吗？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(() => {
            delPubInfo(row.id)
              .then(() => {
                this.$notify({
                  title: '成功',
                  message: '删除成功',
                  type: 'success',
                  duration: 2000
                });
                const index = this.list.indexOf(row);
                this.list.splice(index, 1);
              });
          });
      },
      // create(formName) {
      //   const set = this.$refs;
      //   set[formName].validate(valid => {
      //     if (valid) {
      //       addObj(this.form)
      //         .then(() => {
      //           this.dialogFormVisible = false;
      //           this.getList();
      //           this.$notify({
      //             title: '成功',
      //             message: '创建成功',
      //             type: 'success',
      //             duration: 2000
      //           });
      //         })
      //     } else {
      //       return false;
      //     }
      //   });
      // },
      cancel(formName) {
        this.dialogFormVisible = false;
        this.$refs[formName].resetFields();
      },
      // update(formName) {
      //   const set = this.$refs;
      //   set[formName].validate(valid => {
      //     if (valid) {
      //       this.dialogFormVisible = false;
      //       this.form.password = undefined;
      //       putObj(this.form.id, this.form).then(() => {
      //         this.dialogFormVisible = false;
      //         this.getList();
      //         this.$notify({
      //           title: '成功',
      //           message: '创建成功',
      //           type: 'success',
      //           duration: 2000
      //         });
      //       });
      //     } else {
      //       return false;
      //     }
      //   });
      // },
      // resetTemp() {
      //   this.form = {
      //     username: undefined,
      //     name: undefined,
      //     sex: '男',
      //     password: undefined,
      //     description: undefined
      //   };
      // }
    }
  }
</script>
<style scoped>
  .dialogW{

  }
  .dialogImg{
    display: block;
    margin: 0 auto;
  }
</style>
