<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-button type="text" class="filter-item" disabled>所属产品</el-button>
      <el-select
        v-model="listQuery.product"
        placeholder="请选择"
        style="margin-left: 10px;"
        class="filter-item"
      >
        <el-option
          v-for="item in options"
          :key="item.id"
          :label="item.productName"
          :value="item.id"
        ></el-option>
      </el-select>
      <el-button type="text" class="filter-item" style="margin-left: 10px;" disabled>广告位</el-button>
      <el-select
        v-model="listQuery.advertisingSpace"
        placeholder="请选择"
        style="margin-left: 10px;"
        class="filter-item"
      >
        <el-option v-for="item2 in options2" :key="item2.id" :label="item2.name" :value="item2.id"></el-option>
      </el-select>
      <el-input
        @keyup.enter.native="handleFilter"
        style="width: 200px;margin-left:20px"
        class="filter-item"
        placeholder="请输入广告名称"
        v-model="listQuery.name"
      ></el-input>
      <el-button class="filter-item" type="primary" v-waves icon="search" @click="handleFilter">搜索</el-button>
      <el-button
        class="filter-item"
        style="float:right"
        type="primary"
        v-waves
        icon="edit"
        @click="handleCreate"
      >添加广告</el-button>
      <!-- <el-button class="filter-item"
                 v-if="userManager_btn_add"
                 style="margin-left: 10px;"
                 @click="handleCreate"
                 type="primary"
                 icon="edit">添加
      </el-button>-->
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="序号" width="65">
        <template scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200" align="center" label="广告ID">
        <template scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>
      <el-table-column width="110" align="center" label="广告名称">
        <template scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column width="110" align="center" label="广告类型">
        <template scope="scope">
          <span>{{scope.row.type}}</span>
        </template>
      </el-table-column>
      <el-table-column width="100" align="center" label="广告素材">
        <template scope="scope">
          <el-button type="text" class="filter-item" @click="cpsee(scope.row.materialUrl)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column width="100" align="center" label="设备">
        <template scope="scope">
          <el-button type="text" class="filter-item" @click="serviceShow(scope.row)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column width="200" align="center" label="所属产品">
        <template scope="scope">
          <span>{{scope.row.product}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200" align="center" label="广告位">
        <template scope="scope">
          <span>{{scope.row.advertisingSpace}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" fixed="right" width="150">
        <template scope="scope">
          <el-button
            v-if="userManager_btn_edit"
            size="small"
            type="success"
            @click="handleUpdate(scope.row)"
          >编辑</el-button>
          <el-button
            v-if="userManager_btn_del"
            size="small"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>

    <!--广告素材弹框-->
    <el-dialog title="广告素材" :visible.sync="statusVisible" width="30%" class="dialog">
      <div class="sucaiBox" v-for="(item,index) in movie" :key="index">
        <img class="sucaiImg" :src="item" alt srcset v-if="test(item)">
        <video width="100%" height="240" controls v-else>
          <source :src="item" type="video/mp4">
          <source :src="item" type="video/ogg">您的浏览器不支持 video 标签。
        </video>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="statusVisible = false">取 消</el-button>
        <el-button type="primary" @click="statusVisible = false">确 定</el-button>
      </span>
    </el-dialog>

    <!--设备弹框-->
    <el-dialog title="设备列表" :visible.sync="serviceVisible" width="30%" class="dialog">
      <el-table
        :key="tableKey"
        :data="servicelistmodal"
        v-loading.body="listLoading"
        border
        fit
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column width="100" align="center" label="设备号">
          <template scope="scope">
            <span>{{scope.row.deviceNo}}</span>
          </template>
        </el-table-column>
        <el-table-column width="100" align="center" label="设备编号">
          <template scope="scope">
            <span>{{scope.row.deviceNum}}</span>
          </template>
        </el-table-column>
        <el-table-column width="100" align="center" label="设备名称">
          <template scope="scope">
            <span>{{scope.row.deviceName}}</span>
          </template>
        </el-table-column>
        <el-table-column width="100" align="center" label="订阅号">
          <template scope="scope">
            <span>{{scope.row.subName}}</span>
          </template>
        </el-table-column>
      </el-table>
      <div v-show="!listLoading" class="pagination-container">
        <el-pagination
          @size-change="handleSizeChanges2"
          @current-change="handleCurrentChanges2"
          :current-page.sync="servicelistQuerymodal.page"
          :page-sizes="[5,8]"
          :page-size="servicelistQuerymodal.limit"
          layout="total, sizes, prev, pager, next, jumper"
          :total="servicetotalmodal"
        ></el-pagination>
      </div>
    </el-dialog>

    <!-- 选择设备 -->
    <el-dialog title="设备列表" :visible.sync="serviceSel" width="50%" class="dialog">
      <el-table
        :key="tableKey"
        :data="servicelist"
        v-loading.body="listLoading"
        border
        fit
        highlight-current-row
        @selection-change="handleSelectionChange"
        style="width: 100%"
      >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column width="100" align="center" label="设备号">
          <template scope="scope">
            <span>{{scope.row.deviceNo}}</span>
          </template>
        </el-table-column>
        <el-table-column width="100" align="center" label="设备编号">
          <template scope="scope">
            <span>{{scope.row.deviceNum}}</span>
          </template>
        </el-table-column>
        <el-table-column width="100" align="center" label="设备名称">
          <template scope="scope">
            <span>{{scope.row.deviceName}}</span>
          </template>
        </el-table-column>
        <el-table-column width="100" align="center" label="订阅号">
          <template scope="scope">
            <span>{{scope.row.subName}}</span>
          </template>
        </el-table-column>
      </el-table>
      <div v-show="!listLoading" class="pagination-container">
        <el-pagination
          @size-change="handleSizeChanges"
          @current-change="handleCurrentChanges"
          :current-page.sync="servicelistQuery.page"
          :page-sizes="[5,8]"
          :page-size="servicelistQuery.limit"
          layout="total, sizes, prev, pager, next, jumper"
          :total="servicetotal"
        ></el-pagination>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="serviceSel = false">取 消</el-button>
        <el-button type="primary" @click="serviceSelListBtn">确 定</el-button>
      </span>
    </el-dialog>

    <!-- 添加广告 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px">
        <el-form-item label="广告位名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入产品名称"></el-input>
        </el-form-item>
        <el-form-item label="广告位">
          <el-select
            v-model="productIdAdd"
            placeholder="请选择"
            style="width:140px"
            class="filter-item"
            @change="productIdAddchange"
          >
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.productName"
              :value="item.id"
            ></el-option>
          </el-select>
          <!-- <span class="fensapn">:</span> -->
          <el-select
            v-model="productId"
            placeholder="请选择"
            style="width:140px"
            class="filter-item"
            @change="selchange"
          >
            <el-option v-for="item in options2" :key="item.id" :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="广告素材">
          <div class="filter-container">
            <div
              class="filter-item advertBox"
              v-if="imageUrl"
              v-for="(item,index) in imageUrl"
              :key="index"
            >
              <i class="el-icon-close advertClose" @click="handleRemove(item,index)"></i>
              <img :src="item" class="avatar">
            </div>
            <el-upload
              class="avatar-uploader filter-item"
              style="margin-bottom:0"
              :multiple="true"
              :action="uploadUrl"
              :show-file-list="false"
              :on-preview="handlePictureCardPreview"
              :on-remove="handleRemove"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              :limit="3"
            >
              <i class="el-icon-plus avatar-uploader-icon" v-if="imageUrl.length < 3"></i>
            </el-upload>
          </div>
        </el-form-item>
      </el-form>
      <el-card>
        <div slot="header" class="clearfix">
          <span>设备列表</span>
          <el-button style="float: right; padding: 3px 0" type="text" @click="serviceSelshow">选择设备</el-button>
        </div>
        <div class="cradTable">
          <el-table
            :key="tableKey"
            :data="servicelistQuery.device.slice((servicelistPage-1)*servicelistPageSize,servicelistPage*servicelistPageSize)"
            v-loading.body="listLoading"
            border
            fit
            highlight-current-row
            style="width: 100%"
          >
            <el-table-column width="100" align="center" label="设备号">
              <template scope="scope">
                <span>{{scope.row.deviceNo}}</span>
              </template>
            </el-table-column>
            <el-table-column width="100" align="center" label="设备编号">
              <template scope="scope">
                <span>{{scope.row.deviceNum}}</span>
              </template>
            </el-table-column>
            <el-table-column width="100" align="center" label="设备名称">
              <template scope="scope">
                <span>{{scope.row.deviceName}}</span>
              </template>
            </el-table-column>
            <el-table-column width="100" align="center" label="订阅号">
              <template scope="scope">
                <span>{{scope.row.subName}}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" label="操作" width="80">
              <template scope="scope">
                <el-button
                  v-if="userManager_btn_del"
                  size="small"
                  type="danger"
                  @click="handleDeleteEd(scope.$index,scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div v-show="!listLoading" class="pagination-container">
            <el-pagination
              @size-change="handleSizeChangeK"
              @current-change="handleCurrentChangeK"
              :current-page.sync="servicelistPage"
              :page-sizes="[5]"
              :page-size="servicelistPageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="servicelistQuery.device.length"
            ></el-pagination>
          </div>
        </div>
      </el-card>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj,
  getAdDevicePageList,
  advertPage,
  getOtherPage,
  judgeDeviceAd,
  sureSelect
} from "api/advertising/advertisingT";
import { page as productPage } from "api/product/index";
import { page as devicesPage } from "api/advertising/advertisingW";

import { base_api } from "api/config";

import { mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      productIdAdd: "",
      productId: "",
      // 选择设备
      multipleSelection: [], // 选中的行
      servicelist: null,
      servicetotal: null,
      servicelistQuery: {
        page: 1,
        limit: 5,
        device: []
      },
      // 设备弹窗 modal
      servicelistmodal: null,
      servicetotalmodal: null,
      servicelistQuerymodal: {
        page: 1,
        limit: 5
      },
      // 设备列表
      servicelistPage: 1,
      servicelistPageSize: 5,

      // 选完设备
      imageUrl: [],
      uploadUrl: base_api + "/advertis/upload	",
      movie: [],
      statusVisible: false,
      serviceVisible: false,
      serviceSel: false,
      options: [
        // {
        //   value: "选项1",
        //   label: "共享体重秤"
        // },
        // {
        //   value: "选项2",
        //   label: "手环"
        // }
      ],
      value: "",
      options2: [
        // {
        //   value: "选项1",
        //   label: "设备屏幕"
        // }
      ],
      value2: "",
      radio: 1,
      form: {
        // username: undefined,
        // name: undefined,
        // sex: "男",
        // password: undefined,
        // description: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入广告位名称",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        // 分页提交参数
        page: 1,
        limit: 20,
        advertisingSpace: undefined,
        product: undefined,
        name: undefined
      },
      sexOptions: ["男", "女"],
      dialogFormVisible: false,
      dialogStatus: "",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      userManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    productPage().then(response => {
      this.options = response.data.list;
    });
    advertPage().then(response => {
      this.options2 = response.data;
    });
    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
    this.userManager_btn_add = this.elements["userManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    submitAdd() {
      let servicelistQuery = this.servicelistQuery;
      servicelistQuery.device = this.multipleSelection.concat(
        servicelistQuery.device
      );
      this.servicelistQuery = servicelistQuery;
      this.serviceSel = false;
      // let paramData = {
      //   id: this.multipleSelection, // 设备唯一id
      //   advertis: this.productId, // 广告位id
      //   device: this.servicelistQuery.device
      // };
      // sureSelect(paramData).then(() => {
      //   this.$notify({
      //     title: "成功",
      //     message: "删除成功",
      //     type: "success",
      //     duration: 2000
      //   });
      //   let servicelistQuery = this.servicelistQuery;
      //   servicelistQuery.device = this.multipleSelection.concat(
      //     servicelistQuery.device
      //   );
      //   this.servicelistQuery = servicelistQuery;
      //   this.serviceSel = false;
      // });
    },
    serviceSelListBtn() {
      judgeDeviceAd({ device: this.multipleSelection }).then(response => {
        let paramData = {
          device: this.servicelistQuery.device
        };

        if (response.data.result) {
          this.$confirm("您所选的部分设备已存在广告，确定要替换吗", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          }).then(() => {
            this.submitAdd();
          });
        } else {
          this.submitAdd();
        }
      });
    },
    selchange(id) {
      this.productId = id;
    },
    handleDeleteEd(index, rows) {
      let servicelistQuery = this.servicelistQuery;
      let int =
        Number(index) +
        Number(this.servicelistPageSize) * Number(this.servicelistPage - 1);
      servicelistQuery.device.splice(int, 1);
      this.servicelistQuery = servicelistQuery;
      console.log(int);

      console.log(this.servicelistQuery);
    },
    productIdAddchange(id) {
      this.productIdAdd = id;
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
      console.log(this.multipleSelection);
    },
    serviceSelshow() {
      // 选择设备弹窗
      this.serviceSel = true;
      this.getLists();
    },
    // ----上传图片和视频----
    handleRemove(file, index) {
      this.imageUrl.splice(index, 1);
      console.log(file);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleAvatarSuccess(res, file) {
      // this.imageUrl.push(URL.createObjectURL(file.raw));
      let imgurl = res.data[0];
      this.imageUrl.push(imgurl);

      console.log(this.imageUrl);
      console.log(res);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isGIF = file.type === "image/gif";
      const isPNG = file.type === "image/png";
      const isBMP = file.type === "image/bmp";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG && !isGIF && !isPNG && !isBMP) {
        this.$message.error("上传图片必须是JPG/GIF/PNG/BMP 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
    },
    // ----end:上传----
    test(dom) {
      if (dom) {
        var ImgType = ["gif", "jpeg", "jpg", "bmp", "png"]; //图片
        if (
          !RegExp(".(" + ImgType.join("|") + ")$", "i").test(dom.toLowerCase())
        ) {
          console.log("不是指定图片格式,重新选择");
          return false;
        } else {
          return true;
        }
      }
    },
    getLists2(row) {
      let data = this.servicelistQuerymodal;
      data.advertis = row.id;
      getAdDevicePageList(data).then(response => {
        this.servicelistmodal = response.data.list;
        this.servicetotalmodal = response.data.total;
      });
    },
    handleSizeChanges2(val) {
      this.servicelistQuerymodal.limit = val;
      this.getLists2();
    },
    handleCurrentChanges2(val) {
      this.servicelistQuerymodal.page = val;
      this.getLists2();
    },
    serviceShow(row) {
      // 设备列表弹窗
      this.serviceVisible = true;
      this.getLists2(row);
    },
    cpsee(movie) {
      // 广告素材弹窗
      console.log(this.test(movie));

      this.statusVisible = true;
      this.movie = movie.split(",");
    },
    getList() {
      // 进入查询的接口调用
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.list;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    //
    handleSizeChangeK(val) {
      this.servicelistPageSize = val;
    },
    handleCurrentChangeK(val) {
      this.servicelistPage = val;
    },
    // ----选择设备---
    getLists() {
      // 进入查询的接口调用
      // this.listLoading = true;
      getOtherPage(this.servicelistQuery).then(response => {
        this.servicelist = response.data.list;
        this.servicetotal = response.data.total;
      });
    },
    handleSizeChanges(val) {
      this.servicelistQuery.limit = val;
      this.getLists();
    },
    handleCurrentChanges(val) {
      this.servicelistQuery.page = val;
      this.getLists();
    },
    // ---end---
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        // this.servicelistQuery = {
        //   page: 1,
        //   limit: 5,
        //   device: response.data.
        // };

        this.productIdAdd = response.data.product;
        this.productId = response.data.advertisingSpace;
        this.imageUrl = response.data.materialUrl.split(",");
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
        let data = this.servicelistQuerymodal;
        data.advertis = row.id;
        getAdDevicePageList(data).then(response => {
          this.servicelistQuery.device = response.data.list;
        });
      });
    },
    handleDelete(row) {
      this.$confirm("确定要删除该用户信息吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          let form = this.form;
          form.product = this.productIdAdd;
          form.advertisingSpace = this.productId;
          form.materialUrl = this.imageUrl.join(",");
          let idlistAll = [];
          let idlist = this.servicelistQuery.device;
          for (let i = 0; i < idlist.length; i++) {
            idlistAll[i] = idlist[i].id;
          }
          form.deviceIds = idlistAll;
          addObj(form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "提示",
              message: res.msg,
              type: "success",
              duration: 2000
            });
            this.resetTemp();
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      // this.$refs[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          let form = this.form;
          form.advertisingSpace = this.productId;
          form.materialUrl = this.imageUrl.join(",");
          let idlistAll = [];
          let idlist = this.servicelistQuery.device;
          for (let i = 0; i < idlist.length; i++) {
            idlistAll[i] = idlist[i].id;
          }
          form.deviceIds = idlistAll;
          putObj(form).then(res => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "提示",
              message: res.msg,
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.form = {
        name: undefined
      };
      this.servicelistQuery = {
        page: 1,
        limit: 5,
        device: []
      };
      this.productIdAdd = "";
      this.productId = "";
      this.imageUrl = [];
    }
  }
};
</script>
<style>
.sucaiBox {
  text-align: center;
  margin: 0 auto;
}
.sucaiImg {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.advertBox {
  position: relative;
}
.advertClose {
  position: absolute;
  z-index: 6;
  right: 15px;
  top: 6px;
  cursor: pointer;
}
.advertClose:hover {
  color: #409eff;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.box-card {
  width: 480px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.avatar {
  border: 1px dashed #d9d9d9;
  margin-right: 10px;
  width: 120px;
  height: 120px;
  display: block;
}
</style>