<template>
  <!--设备列表-->
  <div class="tab-container">
    <el-tabs v-model="activeName" @tab-click="navClick">
      <el-tab-pane label="共享体重秤" name="first">
        <div class="facilityNum">
          <!--设备数-->
          <p>
            设备总数：
            <span>1000台</span>
          </p>
          <p>
            当前在线：
            <span>1000台</span>
          </p>
          <p>
            离线：
            <span>1000台</span>
          </p>
        </div>
        <!--功能按钮-->
        <el-row class="facilityButton">
          <!-- <el-col :span="3" v-for="(item ,index) in buttonArr" :key="index" > -->
          <el-button class="item" v-for="(item ,index) in buttonArr" :key="index">{{item}}</el-button>
          <!-- </el-col> -->
        </el-row>
        <!--订阅号及投放状态下拉框-->
        <div class="facilityDown calendar-list-container">
          <div class="filter-container">
            <el-button type="text" class="filter-item">订阅号:</el-button>
            <el-select
              v-model="value"
              placeholder="请选择"
              class="filter-item"
              style="margin-left: 10px;"
            >
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
            <el-button type="text" class="filter-item" style="margin-left: 30px;">投放状态:</el-button>
            <el-select
              v-model="listQuery.putStatus"
              placeholder="请选择"
              class="filter-item"
              style="margin-left: 10px;"
            >
              <el-option
                v-for="(item,index) in  options"
                :key="item.value"
                :label="item.label"
                :value="index"
              ></el-option>
            </el-select>
          </div>
        </div>

        <div class="calendar-list-container">
          <div class="filter-container">
            <el-input
              style="max-width: 500px;"
              placeholder="请输入内容"
              v-model="tabSel"
              class="input-with-select"
              @keyup.enter.native="handleFilter"
            >
              <el-select v-model="tabSelect" slot="prepend" placeholder="请选择">
                <el-option label="设备号" value="1"></el-option>
                <el-option label="设备编号" value="2"></el-option>
              </el-select>
              <el-button slot="append" icon="el-icon-search" @click="handleFilter">查询</el-button>
            </el-input>
          </div>
          <el-table
            :key="tableKey"
            :data="list"
            v-loading.body="listLoading"
            border
            fit
            highlight-current-row
            style="width: 100%"
          >
            <el-table-column align="center" label="序号" width="65">
              <template scope="scope">
                <span>{{scope.row.id}}</span>
              </template>
            </el-table-column>
            <el-table-column width="200" align="center" label="设备号">
              <template scope="scope">
                <span>{{scope.row.deviceNo}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="设备编号">
              <template scope="scope">
                <span>{{scope.row.deviceNum}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="设备名称">
              <template scope="scope">
                <span>{{scope.row.deviceName}}</span>
              </template>
            </el-table-column>
            <el-table-column width="300" align="center" label="设备所在地区">
              <template scope="scope">
                <span>{{scope.row.detailAddr}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="屏幕亮度">
              <template scope="scope">
                <span>{{scope.row.screenLight}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="音量">
              <template scope="scope">
                <span>{{scope.row.volume}}</span>
              </template>
            </el-table-column>
            <el-table-column width="110" align="center" label="心跳频率">
              <template scope="scope">
                <span>{{scope.row.heartRate}}</span>
              </template>
            </el-table-column>
            <el-table-column width="180" align="center" label="当前状态">
              <template scope="scope">
                <span>{{scope.row.currStatus}}</span>
              </template>
            </el-table-column>
            <el-table-column width="200" align="center" label="更新时间">
              <template scope="scope">
                <span>{{scope.row.updateTime}}</span>
              </template>
            </el-table-column>
            <!-- <el-table-column align="center" label="操作" width="150">
              <template scope="scope">
                <el-button
                  v-if="userManager_btn_edit"
                  size="small"
                  type="success"
                  @click="handleUpdate(scope.row)"
                >编辑</el-button>
                <el-button
                  v-if="userManager_btn_del"
                  size="small"
                  type="danger"
                  @click="handleDelete(scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>-->
          </el-table>

          <!--页码-->
          <div v-show="!listLoading" class="pagination-container">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page.sync="listQuery.page"
              :page-sizes="[10,20,30, 50]"
              :page-size="listQuery.limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>

          <el-dialog center title="编辑设备" :visible.sync="dialogFormVisible" class="dialog">
            <!--编辑弹框-->
            <el-form :model="form" :rules="rules" ref="form">
              <el-form-item label=" 设 备 号 " prop="equipmentNum">
                <el-input v-model="form.equipmentNum" placeholder="请输入设备号" class="inputWidth"></el-input>
              </el-form-item>
              <el-form-item label="设备编码" prop="encoding">
                <el-input v-model="form.encoding" placeholder="请输入设备编码" class="inputWidth"></el-input>
              </el-form-item>
              <el-form-item label="设备名称" prop="equipmentName" class="inputWidth1">
                <el-input
                  v-model="form.equipmentName"
                  placeholder="请输入设备名称"
                  class="inputWidth inputWidth1"
                ></el-input>
              </el-form-item>
              <el-form-item label="设备地址" class="inputWidth1" placeholder="请输入详细地址">
                <el-cascader
                  :options="siteArr"
                  v-model="selectedOptions"
                  @change="siteChange"
                  class="cascaderWidth"
                ></el-cascader>
              </el-form-item>
              <el-form-item label>
                <el-input
                  type="textarea"
                  v-model="form.specific"
                  placeholder="请输入详细地址"
                  resize="none"
                ></el-input>
              </el-form-item>
            </el-form>
            <!--button按钮-->
            <div slot="footer" class="dialog-footer dialogCenter">
              <el-button @click="cancel()">取 消</el-button>
              <!--<el-button v-if="dialogStatus=='create'" type="primary" @click="create()">确 定</el-button>-->
              <el-button type="primary" @click="update()">确 定</el-button>
            </div>
          </el-dialog>
        </div>
      </el-tab-pane>
      <!-- <el-tab-pane label="手环" name="second">手环</el-tab-pane>
      <el-tab-pane label="智慧药箱" name="third">智慧药箱</el-tab-pane>-->
    </el-tabs>
  </div>
</template>

<script>
import {
  page,
  addObj,
  getObj,
  delObj,
  putObj
} from "api/facility/facilityDeploy";
import { mapGetters } from "vuex";

export default {
  name: "list",
  data() {
    return {
      tabSel: "",
      tabSelect: "",
      //功能栏
      buttonArr: ["心跳频率配置", "屏幕亮度配置", "音量调节", "停用", "启用"],
      activeName: "first",
      isButton: false,
      options: [
        {
          value: "选项1",
          label: "已投放"
        },
        {
          value: "选项2",
          label: "未投放"
        }
      ],
      value: "",
      value1: "",
      form: {
        // equipment:"undefined",
        encoding: undefined, //设备编码
        equipmentName: undefined, //设备名
        equipmentNum: undefined, //设备号
        specific: undefined
      },
      rules: {
        equipmentName: [
          {
            required: false,
            message: "请输入设备名称",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        encoding: [
          {
            required: true,
            message: "请输入设备编码",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ],
        equipmentNum: [
          {
            required: true,
            message: "请输入设备号",
            trigger: "blur"
          },
          {
            min: 5,
            max: 20,
            message: "长度在 5 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      listArr: [
        // {}
      ],
      total: null,
      listLoading: true,
      //设置页码
      listQuery: {
        page: 1,
        limit: 10,
        putStatus: 0,
        deviceNo: undefined,
        deviceNum: undefined
      },
      dialogFormVisible: false,
      // dialogStatus: '',
      userManager_btn_edit: false,
      userManager_btn_del: false,
      tableKey: 0,
      siteArr: [
        {
          value: "zhinan",
          label: "广东省",
          children: [
            {
              value: "shejiyuanze",
              label: "广州市",
              children: [
                {
                  value: "yizhi",
                  label: "天河"
                },
                {
                  value: "fankui",
                  label: "越秀"
                }
              ]
            }
          ]
        }
      ],
      selectedOptions: [],
      selectedOptions2: []
    };
  },
  created() {
    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
  },
  computed: {
    ...mapGetters(["elements"])
  },

  methods: {
    //导航切换
    navClick(tab, event) {
      console.log(tab, event);
    },
    //绑定数据 及页码数
    getList() {
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.list;
        console.log(this.list);
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      let listQuery = this.listQuery;
      if (Number(this.tabSelect) === 1) {
        listQuery.deviceNo = this.tabSel;
        listQuery.deviceNum = "";
        this.listQuery = listQuery;
        this.getList();
      } else if (Number(this.tabSelect) === 2) {
        listQuery.deviceNo = "";
        listQuery.deviceNum = this.tabSel;
        this.listQuery = listQuery;
        this.getList();
      } else {
        this.getList();
      }
    },
    //分页每页显示多少条
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    //当前页
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    // handleCreate() {
    //   this.resetTemp();
    //   this.dialogFormVisible = true;
    // },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.dialogFormVisible = true;
        // this.dialogStatus = 'update';
      });
    },
    //删除按钮弹框
    handleDelete(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    //取消事件
    cancel(formName) {
      this.dialogFormVisible = false;
      // this.$refs[formName].resetFields();
    },
    //编辑确定按钮
    update() {
      console.log("ddd");
    },
    //选址事件
    siteChange(value) {
      console.log(value);
    }
  }
};
</script>

<style scoped lang="scss">
.tab-container {
  margin: 30px;
  color: #333;
  .facilityNum {
    p {
      margin-right: 60px;
      display: inline-block;
      /*float: left;*/
    }
  }
  .facilityButton {
    .item {
      margin-top: 10px;
    }
  }
  .facilityDown {
    margin: 30px 0;
    .itemDown {
      margin-right: 40px;
    }
  }
}
.redactTit{
  text-align: center;
}

.dialog {
  width: 800px;
  margin: 0 auto;
  /*text-align: center;*/
  .inputWidth {
    width: 210px;
    /*text-align: left;*/
  }
  .inputWidth1 {
    margin-left: 5px;
  }
  .cascaderWidth {
    /*width: 60%;*/
    /*margin: 0 35% 0 0;*/
  }
  .dialogCenter {
    text-align: center;
  }
}
</style>
