<template>
  <div class="app-container calendar-list-container">
    <div class="filter-container">
      <el-button type="text" class="filter-item" disabled>所属产品</el-button>
      <el-select
        v-model="listQuery.product"
        placeholder="请选择"
        style="margin-left: 10px;"
        class="filter-item"
      >
        <el-option
          v-for="item in options"
          :key="item.id"
          :label="item.productName"
          :value="item.id"
        ></el-option>
      </el-select>
      <el-input
        @keyup.enter.native="handleFilter"
        style="width: 200px;margin-left:30px"
        class="filter-item"
        placeholder="请输入广告位名称"
        v-model="listQuery.name"
      ></el-input>
      <el-button
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        v-waves
        icon="search"
        @click="handleFilter"
      >搜索</el-button>
      <el-button
        class="filter-item"
        style="float:right"
        type="primary"
        v-waves
        icon="edit"
        @click="handleCreate"
      >创建广告位</el-button>
      <!-- <el-button class="filter-item"
                 v-if="userManager_btn_add"
                 style="margin-left: 10px;"
                 @click="handleCreate"
                 type="primary"
                 icon="edit">添加
      </el-button>-->
    </div>
    <el-table
      :key="tableKey"
      :data="list"
      v-loading.body="listLoading"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="序号" width="65">
        <template scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>
      <el-table-column width="200" align="center" label="广告位ID">
        <template scope="scope">
          <span>{{scope.row.id}}</span>
        </template>
      </el-table-column>
      <el-table-column width="110" align="center" label="广告位名称">
        <template scope="scope">
          <span>{{scope.row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column width="210" align="center" label="所属产品">
        <template scope="scope">
          <!-- <span>{{scope.row.product}}</span> -->
          <el-select v-model="scope.row.product" placeholder="请选择" class="filter-item" disabled>
            <el-option
              style="max-width:100%"
              v-for="item in options"
              :key="item.id"
              :label="item.productName"
              :value="item.id"
            ></el-option>
          </el-select>
        </template>
      </el-table-column>
      <el-table-column width="100" align="center" label="文件类型">
        <template scope="scope">
          <span>{{scope.row.type == 2 ? '视频':'图片'}}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column width="100"
                       align="center"
                       label="尺寸">
        <template scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>
      <el-table-column width="100"
                       align="center"
                       label="接口地址">
        <template scope="scope">
          <span>{{scope.row.description}}</span>
        </template>
      </el-table-column>      
      <el-table-column width="180"
                       align="center"
                       label="创建时间">
        <template scope="scope">
          <span>{{scope.row.updTime}}</span>
        </template>
      </el-table-column>
      -->
      <el-table-column align="center" label="操作" width="150">
        <template scope="scope">
          <!-- <el-button
            v-if="userManager_btn_edit"
            size="small"
            type="success"
            @click="handleUpdate(scope.row)"
          >编辑</el-button>-->
          <el-button
            v-if="userManager_btn_del"
            size="small"
            type="danger"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-show="!listLoading" class="pagination-container">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page.sync="listQuery.page"
        :page-sizes="[10,20,30, 50]"
        :page-size="listQuery.limit"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </div>

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px">
        <el-form-item label="广告位名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入产品名称"></el-input>
        </el-form-item>
        <el-form-item label="广告位尺寸">
          <el-input v-model="form.length" placeholder="长度" style="width:140px"></el-input>
          <span class="fensapn">:</span>
          <el-input v-model="form.width" placeholder="宽度" style="width:140px"></el-input>
        </el-form-item>
        <!-- <el-form-item label="版本号" prop="username">
          <el-input v-if="dialogStatus == 'create'" v-model="form.username" placeholder="请输入版本号"></el-input>
          <el-input v-else v-model="form.username" placeholder="请输入账户" readonly></el-input>
        </el-form-item>-->
        <el-form-item label="文件类型">
          <el-select class="filter-item" v-model="txtype" placeholder="请选择" @change="typechange">
            <el-option
              v-for="item in  txtOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属产品">
          <el-select v-model="productId" placeholder="请选择" class="filter-item" @change="selchange">
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.productName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="投放地址">
          <el-input
            type="textarea"
            :autosize="{ minRows: 3, maxRows: 5}"
            placeholder="请输入内容"
            v-model="form.url"
          ></el-input>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create('form')">确 定</el-button>
        <el-button v-else type="primary" @click="update('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { page, addObj, getObj, delObj } from "api/advertising/advertisingW";
import { page as productPage } from "api/product/index";
import { mapGetters } from "vuex";
export default {
  name: "user",
  data() {
    return {
      options: [
        // {
        //   value: "选项1",
        //   label: "共享体重秤"
        // },
        // {
        //   value: "选项2",
        //   label: "手环"
        // }
      ],
      txtype: "",
      productId: "",
      form: {
        name: undefined,
        type: "",
        length: undefined,
        width: undefined,
        url: undefined,
        product: undefined
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入广告位名称",
            trigger: "blur"
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur"
          }
        ]
      },
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        // 分页提交参数
        page: 1,
        limit: 20,
        product: undefined,
        name: undefined
      },
      txtOptions: [
        {
          value: 1,
          label: "图片"
        },
        {
          value: 2,
          label: "视频"
        }
      ],
      dialogFormVisible: false,
      dialogStatus: "",
      userManager_btn_edit: false,
      userManager_btn_del: false,
      userManager_btn_add: false,
      textMap: {
        update: "编辑",
        create: "创建"
      },
      tableKey: 0
    };
  },
  created() {
    productPage().then(response => {
      this.options = response.data.list;
    });
    this.getList();
    this.userManager_btn_edit = this.elements["userManager:btn_edit"];
    this.userManager_btn_del = this.elements["userManager:btn_del"];
    this.userManager_btn_add = this.elements["userManager:btn_add"];
  },
  computed: {
    ...mapGetters(["elements"])
  },
  methods: {
    typechange(id) {
      let form = this.form;
      form.type = id;
      this.form = form;
    },
    selchange(id) {
      let form = this.form;
      form.product = id;
      this.form = form;
    },
    getList() {
      // 进入查询的接口调用
      this.listLoading = true;
      page(this.listQuery).then(response => {
        this.list = response.data.list;
        this.total = response.data.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.getList();
    },
    handleSizeChange(val) {
      this.listQuery.limit = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.listQuery.page = val;
      this.getList();
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
    },
    handleUpdate(row) {
      getObj(row.id).then(response => {
        this.form = response.data;
        this.dialogFormVisible = true;
        this.dialogStatus = "update";
      });
    },
    handleDelete(row) {
      this.$confirm(
        "删除该广告位可能会影响线上广告业务了解风险后确认要删除吗",
        "警告",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }
      ).then(() => {
        delObj(row.id).then(() => {
          this.$notify({
            title: "成功",
            message: "删除成功",
            type: "success",
            duration: 2000
          });
          const index = this.list.indexOf(row);
          this.list.splice(index, 1);
        });
      });
    },
    create(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          addObj(this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    cancel(formName) {
      this.dialogFormVisible = false;
      this.$refs[formName].resetFields();
    },
    update(formName) {
      const set = this.$refs;
      set[formName].validate(valid => {
        if (valid) {
          this.dialogFormVisible = false;
          this.form.password = undefined;
          putObj(this.form.id, this.form).then(() => {
            this.dialogFormVisible = false;
            this.getList();
            this.$notify({
              title: "成功",
              message: "创建成功",
              type: "success",
              duration: 2000
            });
          });
        } else {
          return false;
        }
      });
    },
    resetTemp() {
      this.txtype = "";
      this.productId = "";
      this.form = {
        name: undefined,
        type: "",
        length: undefined,
        width: undefined,
        url: undefined,
        product: undefined
      };
    }
  }
};
</script>
<style lang="scss" scoped>
.fensapn {
  padding: 0 15px;
}
</style>